{% extends 'base.html' %} 

{% block content %}
<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Django App</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi dignissimos
      cum sequi neque, quasi quisquam sit molestiae perspiciatis. Obcaecati
      culpa fuga ex tempora illum, ad consequuntur nemo! Illo, placeat error.
      Sint consequuntur laudantium veritatis commodi nesciunt ad dignissimos a
      quis corrupti iste vitae, ducimus modi quae nulla ea nihil cum consequatur
      laborum reprehenderit iusto ut! Doloremque veniam fugit quas optio a
      pariatur natus expedita dolor minima eius incidunt nam nesciunt, quasi
      commodi repudiandae sed. Dicta fuga ullam beatae porro officia minima
      saepe excepturi cumque quod architecto doloremque quaerat voluptates,
      blanditiis minus consectetur nemo numquam nobis tempore, iste possimus
      deserunt hic!
    </p>

    <div class="text-center">
      <a class="btn btn-dark" href="/signin/"> Signin </a>

      <a class="btn btn-dark" href="/signup/"> Signup </a>
    </div>
  </section>
</main>
{% endblock %}
